<footer>       
	<div class="container">
	    <div class="row">
		    <div class="col-md-6">
		    	© 2015 <strong>
		    	<a class="innodesign" href="http://www.id-peru.com" target="_blank" >Innodesign</a>
		        </strong>. Todo los Derechos Reservados 
		    </div>
		    <div class="col-md-6 text-right">
		        <a class="facebook" href="#" >Facebook</a>/
		        <a class="twitter" href="#" >twitter</a>/
		        <a class="google" href="#" >google+</a>
		    </div>
	    </div>
	</div>
</footer>
<!--Jquery    -->
<script src="/js/vendor/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8" ></script>
<!--Bootstrapjs    -->
<script src="/css/vendor/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8" ></script>