<header class="cabecera-admin">
    <div class="row clear">
	   	<div class="col-md-1">
	   	  <a href="/app" class="font1"><i class="fa fa-edit color-blanco"></i></a>
	    </div>
	  	<div class="col-md-6">
	      <span class="font2">Sistema de Calificaciones para Primaria</span>
	    </div>
	    <div class="col-md-4 text-right ">
		    <div class="btn-group btn-user ">
		      <a href="#" class="btn btn-default dropdown-toggle font1" data-toggle="dropdown">
			  <i class="fa fa-user"></i> Jeyson Fuentes
			  <span class="caret"></span>
			  </a>
			    <ul class="dropdown-menu ">
			       <li><a href="#">Perfil</a></li>
			       <li class="divider"></li>
			       <li><a href="#">Cerrar Session</a></li>
			    </ul>
		    </div>	    
    	</div>
	</div>
</header>